html,
body {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.moviebox {
  width: 800px;
  height: auto;
}
.navigate {
  position: fixed;
  top: 50%;
  left: 50px;
  width: 160px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%);
}
.navigate ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.navigate ul li {
  width: 100%;
  height: 70px;
  background-color: #18dcff;
  cursor: pointer;
  transform: skewY(-8deg);
  position: relative;
}
.navigate ul li span{
    display: inline-block;
    width: 100%;
    height: 70px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 70px;
}
.navigate ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(205, 132, 241, 0.4);
  transform: translate(-8px, 8px);
}
.navigate ul li:hover {
  transform: skewY(0deg);
}
.navigate ul li:hover::after {
  transform: translate(0, 0);
  opacity: 0;
}
.movielist {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.movielist li {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movielist li > span {
  display: inline-block;
  padding-left: 20px;
  height: 50px;
  flex: 1;
  background-color: #18dcff;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 50px;
}
.movielist li > .btn {
  width: 180px;
  height: 100%;
  background-color: rgba(96 , 185, 249, 1);
  cursor: pointer;
  transition: 0.3s;
}
.movielist li > .btn:hover{
     background-color: rgba(205, 132, 241, 0.4);
    transform: scale(1.1) translateX(5px);
    color: black;
}
.movielist li > .btn >span{
    display: inline-block;
    width: 100%;
    height:50px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    color: #2c3e50;
}
.moviebox > .info{
  position: fixed;
  top: 50%;
  right: 50px;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transform: translate(0, -50%);
  background-color: #18dcff;
}
.moviebox > .info::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(205, 132, 241, 0.4);
  transform: translate(-8px, 8px);
  transition: 0.3s;
  z-index: -1;
}
.moviebox .info:hover::after {
  transform: translate(0, 0);
  opacity: 0;
}
.moviebox > .info >span{
    display: inline-block;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    line-height: 40px;
}
.moviebox > .info > .info_title{
  text-align: center;
  font-size: 16px;
}
.moviebox > .info >span a{
  text-decoration: none;
  color: #2c3e50;
  cursor: pointer;
}